*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: grey;
    color: black;
}

header{
    background-color: aqua;   
}

.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    background-color: yellow;        
}

.button{
    min-width: 100px;
    padding: 1em;
    border: solid 1px;
}
